body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
}

h1 {
    color: white; /* Nova cor da fonte */
    font-size: 14rem;
    font-family: "Space Mono", monospace;
}

span {
    color: #ffff00;
}

@keyframes blink {
  0%, 3% {
    opacity: 1;
    color: #ffff00;
  }
  4%, 10% {
    opacity: 0.9;
    color: #ffff00;
  }
  11%, 20% {
    opacity: 0.8;
    color: #ffff00;
  }
  21%, 30% {
    opacity: 0.7;
    color: #ffff00;
  }
  31%, 40% {
    opacity: 0.6;
    color: #ffff00;
  }
  41%, 45% {
    opacity: 0.5;
    color: #ffff00;
  }
  46%, 51% {
    opacity: 0.4;
    color: #ffff00;
  }
  52%, 57% {
    opacity: 0.3;
    color: #ffff00;
  }
  58%, 64% {
    opacity: 0.2;
    color: #ffff00;
  }
  65%, 78% {
    opacity: 0.1;
    color: #ffff00;
  }
  79%, 86% {
    opacity: 0;
    color: #ffff00;
  }
  87%, 100% {
    opacity: 1;
    color: #ffff00;
  }
}

.blink {
  display: inline-block;
  animation: blink 3s ease-in-out infinite;
}

.screen {
  display: flex;
  width: 100%;
  height: 100vh;
}

.box {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  transition: transform 2s ease-in-out;
}

.box:nth-child(1) {
  background-color: lightgray;
}

.box:nth-child(2) {
  background-color: lightgray;
}


.hidden {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  display: block;
  opacity: 1;
}