body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
}

h1 {
    color: white; /* Nova cor da fonte */
    font-size: 10rem;
    font-family: "Space Mono", monospace;
}

span {
    color: #ffff00;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
    color: #ffff00;
  }
  25%, 75% {
    opacity: 0;
    color: #ffff00;
  }
  50%, 100% {
    opacity: 1;
    color: #ffff00;
  }
}

.blink {
  display: inline-block;
  animation: blink 3s ease-in-out infinite;
}

.screen {
  display: flex;
  width: 100%;
  height: 100vh;
}

.box {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  transition: transform 2s ease-in-out;
  background-image: url("../assets/brz.png");
  background-repeat: repeat;
  background-size: auto; 
}

.box:nth-child(1) {
  background-color: lightgray;
}

.box:nth-child(2) {
  background-color: lightgray;
}


.hidden {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  display: block;
  opacity: 1;
}