body {
  background-color: rgb(10, 10, 10);
  margin: 0;
  padding: 0;
  font-family: "Space Mono", "Roboto", monospace;
  text-align: center;
  overflow: auto;
  border: solid;
  font-size: 16px;
}

h1 {
  color: white;
}

h6 {
  color: white;
  margin: 0;
}

table {
  overflow: auto;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
    color: #ffff00;
  }
  25%, 75% {
    opacity: 0;
    color: #ffff00;
  }
  50%, 100% {
    opacity: 1;
    color: #ffff00;
  }
}

.blink {
  display: inline-block;
  animation: blink 5s ease-in-out infinite;
  text-shadow: 0 0 10px rgba(255, 192, 27, 0.9),
               0 0 20px rgba(255, 192, 27, 0.9),
               0 0 30px rgba(255, 192, 27, 0.9);
}

.header {
  background-color: rgb(10, 10, 10);
  max-height: 50%;       
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-size: 2rem;
}

.title {
}

.menu {
  border-top: solid;
  border-color: whitesmoke;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: inline-flex;
  gap: 1rem;
  padding: 0;
  border-color: white;
}

li {
  color: white;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid;
}

a {
  color: white;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid;
}

li:hover, a:hover, a:active {
  color: yellow;
}

.content {
  display: inline flow-root list-item;
  padding-top: 10em;
  font-size: 1.5rem;
}

.preheader {
  margin: 0;
}

.detail {
  background-color: lightyellow;
  opacity: 0.7;
  margin-bottom: 2em;
}

td {
  display: none;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4)  {
  display: table-cell;
}

tr:hover {
  background-color: black;
  color: white;
}
tr:nth-child(1):hover {
  background-color: lightyellow;
  color: black;
}

.botton {
  color: yellow;
  border-top: solid;
}

.reveal-effect {
  opacity: 0;
  transform: translateY(-80em);
  animation: revealAnimation 4s ease-in-out forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOutAnimation 3s ease-in-out forwards;
}

@keyframes revealAnimation {
  0% {
      opacity: 0;
      transform: translateY(-80em);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}